# The ID of the project in which the resource will be created
project: "daytona-test"

# Name of the GKE cluster
cluster_name: "daytona-workspaces"
cluster_version: "1.29"

# DNS zone that will be created in Cloud DNS.
dns_zone: "daytona.changeme"

# The region to host the cluster in. This terraform will create Regional cluster
region: "us-east1"

# Zones from the region set in `region` variable. Only in these zones will cluster nodes be created
zones: ["us-east1-b", "us-east1-c", "us-east1-d"]

# Setup subnet for GKE and subnets for GKE service, pods and control plane.
gke_network:
  region_subnet: "10.0.1.0/24"
  service_subnet: "10.1.0.0/16"
  pod_subnet: "10.2.0.0/16"
  control_plane_subnet: "10.0.0.0/28"

# External networks that can access the Kubernetes cluster master through HTTPS.
# More info https://cloud.google.com/kubernetes-engine/docs/how-to/authorized-networks
# authorized_networks:
#   admin1: 198.198.8.1/32
#   office2: 198.199.8.1/24
authorized_networks: {}

gpu:
  # Use GPU node pool in the cluster
  enabled: false
  zones: ["us-east1-c", "us-east1-d"]
  node_type: n1-standard-16
  # Required gpu type out of these: nvidia-tesla-k80, nvidia-tesla-p100, nvidia-tesla-p4, nvidia-tesla-v100, nvidia-tesla-t4, nvidia-tesla-a100, nvidia-a100-80gb, nvidia-l4
  type: nvidia-tesla-t4
  # number of GPUs per node
  count: 4

# You must replace this email address with your own.
# Let's Encrypt will use this to contact you about expiring
# certificates, and issues related to your account.
# More info https://cert-manager.io/docs/configuration/acme/dns01/#configuring-dns01-challenge-provider
email_ca_issuer: cert-admin@example.com

# Create kube-prometheus-stack for monitoring
# https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
prometheus_monitoring: false

# You must set Identity Provider information here (IdP)
# More info https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
gitProviders:
  github:
    clientId: changeme
    clientSecret: changeme
